<html ng-app="sampleKoastClientApp">
  <head>
    <script src="/bower/angular/angular.js"></script>
  </head>

  <body>

    <div ng-controller="myCtrl">
      <div ng-cloak>Signed in? {{ user.isAuthenticated}}</div>
      <div ng-show="user.isReady">
        Hello
        <div ng-hide="user.isAuthenticated">
          <button ng-click="login('facebook')">Sign in with Facebook</button>
        </div>
        <div ng-show="user.isAuthenticated">
          Display Name: {{ user.data.displayName }}
          <button ng-click="logout()">Sign out</button>

          <div ng-show="user.data.username">
            Username: {{ user.data.username }}
          </div>
          <div ng-hide="user.data.username">
            Pick a username: <input ng-model="selectedUsername" type="text"/>
            <button ng-click="register()">Submit</button>
          </div>
        </div>
      </div>

      <h1>My favorite robot</h1>
      <p>{{ myRobot.robotName }}</p>

      <h1>All Robots</h1>
      <ul ng-repeat="robot in robots">
        <li ng-show="{{ robot.can.edit }}">
          <input ng-model="robot.robotName"/>
          <button ng-click="saveRobot(robot)">Save</button>
          <button ng-click="deleteRobot(robot)">Delete</button>
          {{ robotStatus[robot.robotNumber] }}
        </li>
        <li ng-show="{{ !robot.can.edit }}">
          {{ robot.robotName }}
        </li>
      </ul>

      <button ng-click="createRobot()">Create a new robot</button>
    </div>

    <script src="/bower/lodash/dist/lodash.js"></script>
    <script src="/bower/koast/client/dist/koast.js"></script>
    <!-- Or import individual scripts for easier debugging.
      <script src="/bower/koast/client/src/logger.js"></script>
      <script src="/bower/koast/client/src/resource.js"></script>
      <script src="/bower/koast/client/src/user.js"></script>
      <script src="/bower/koast/client/src/http.js"></script>
      <script src="/bower/koast/client/src/koast.js"></script>
     -->
    <script src="/app/app.js"></script>
  </body>
</html>