<html ng-app='sampleKoastClientApp'>
  <head>
    <script src="/bower/angular/angular.min.js"></script>
  </head>

  <body>
    <div ng-controller='myCtrl'>

      <div ng-cloak>Signed in? {{ user.isSignedIn}}</div>
      <div ng-show='user.isReady'>
        <div ng-hide='user.isSignedIn'>
          <button ng-click='signIn()'>Sign in / Sign up</button>
        </div>
        <div ng-show='user.isSignedIn'>
          Welcome,
          <span ng-hide='user.data.username'>{{ user.data.email }}!</span>
          <span ng-show='user.data.displayName'>{{ user.data.displayName }}!</span>
          <button ng-click='signOut()'>Sign out</button>
        </div>
      </div>

      <h1>My favorite robot</h1>
      <p>{{ myRobot.robotName }}</p>

      <h1>All Robots</h1>
      <ul ng-repeat="robot in robots">
        <li ng-show="{{ robot.can.edit }}">
          <input ng-model="robot.robotName"/>
          <button ng-click="saveRobot(robot)">Save</button>
          {{ robotStatus[robot.robotNumber] }}
        </li>
        <li ng-show="{{ !robot.can.edit }}">
          {{ robot.robotName }}
        </li>
      </ul>
    </div>

    <script src="/bower/underscore/underscore-min.js"></script>
    <script src="/app/koast/user.js"></script>
    <script src="/app/koast/resource.js"></script>
    <script src="/app/koast/koast.js"></script>
    <script src="/app/app.js"></script>
  </body>
</html>