
<html ng-app='sampleKoastClientApp'>

  <b>Available robots:</b>

  <div ng-controller='myCtrl'>
   <ul ng-repeat="robot in robots">
     <li ng-show="{{ robot.can.edit }}">
      <input ng-model="robot.robotName"/>
      <button ng-click="saveRobot(robot)">Save</button>
      {{ robotStatus[robot.robotNumber] }}
     </li>
     <li ng-show="{{ !robot.can.edit }}">
      {{ robot.robotName }}
     </li>
   </ul>
  </div>

  <script src="/bower/underscore/underscore-min.js"></script>
  <script src="/bower/angular/angular.min.js"></script>
  <script src="/app/koast.js"></script>
  <script src="/app/app.js"></script>

</html>